body {
    font-family: 'Alexandria', sans-serif;
    background: url("../imgs/background.png");
}

.main {
    position: relative;
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}